* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(242, 242, 242);
    font-family: 'Geist', sans-serif;
    margin: 0;
}

.geist-text> {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
    width: 100%;

    background-color: rgb(112, 88, 68);
    padding: 20px 0 20px 0;
}

h1 {
    color: rgb(242, 242, 242);
    font-size: 1.5em;
    text-align: center;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    font-size: 0.9em;
    text-align: center;
    padding-right: 20px;
}

nav ul li {
    text-decoration: none;
    color: white;
}

nav ul li a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgb(242, 242, 242);
}

nav ul li a:hover{
    text-decoration: underline; 
    color: rgb(217, 213, 210);
}

.nav-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: rgb(140, 115, 93);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgb(120, 95, 75);
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: rgb(166, 143, 114);
    }

.column {
    padding: 20px 0px 0px 10px;
    background-color:rgb(217, 213, 210);
    border-radius: 1.5vmin;
    overflow: hidden;
}

.column h2 {
    color: rgb(166, 156, 148);
    text-align: center;
    margin: 5px 20px 20px 20px;
}

.column p {
    color: rgb(147, 138, 131);
    margin: 5px 20px 20px 20px;
}

/* Left column */
.left .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-color: rgb(140, 115, 93);
    margin: 15px auto;
}

.left .box:hover {
    background-color: rgb(120, 95, 75);
}

/* Center column */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.center .box {
    display: block;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.image1 {
    background-image: url(images/canisminor.png); 
}
.image2 {
    background-image: url(images/AzwkhBagMockup.png); 
}
.image3 {
    background-image: url(images/CuriousPawsMaskingTape.png); 
}
.image4 {
    background-image: url(images/geoDog.png); 
}

/* Right column */
.right .box {
    display: block;
    width: 200px;
    height: 320px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.image5 {
    background-image: url(images/PizzaToriMenu.png); 
}
.image6 {
    background-image: url(images/DogMagazine2.png); 
}

footer {
    height: 40px;
    background-color: rgb(166, 143, 114);
    color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    color: rgb(242, 242, 242);
    text-align: center;
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    nav {
        width: 100%;
        padding: 2% 0;
    }

    nav ul {
        display: flex;
        flex-direction:  column;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        margin: 8px 0;
    }


    main {
        grid-template-columns: 1fr;
    }
}